brainpy==2.5.0.post20240208
brainpylib==0.3.1
brainpy-datasets
hdf5storage==0.1.19
jax==0.4.10
matplotlib==3.5.2
norse==1.0.0
numpy==1.22.3
pynvml==11.5.0
seaborn==0.11.2
snntorch==0.6.1
spikingjelly==0.0.0.0.14
torch==2.0.1
torchtoolbox==0.1.8.2
torchvision==0.15.2
PyNN==0.9.5
Brian2==2.5.1
Brian2CUDA==1.0a1
Brian2GeNN==1.6
ANNarchy==4.7.2
BindsNet==0.3.2
neuron==8.2.0
